div {
  font-size: 20px;
}

.introduction {
  background-color: cyan;
  text-align: center;
}

.interests {
  background-color: lightgreen;
  text-align: center;
}

.interests_pic {
  background-color: lightgreen;
  text-align: center;
}

.ending {
  text-align: center;
  font-size: 30px;
}